# === 基础编译生成文件 ===
*~
*.autosave
*.a
*.core
*.moc
*.o
*.obj
*.orig
*.rej
*.so
*.so.*
*.slo
*.lo
*.la
*.lai
*.dylib
*.dll
*.exe
*_pch.h.cpp
*_resource.rc
*.qm
.#*
*.*#
core
!core/
tags
.DS_Store
.directory
*.debug
Makefile*
*.prl
*.app
moc_*.cpp
moc_*.h
ui_*.h
qrc_*.cpp
Thumbs.db
*.res
*.rc
/.qmake.cache
/.qmake.stash
**/.qmlls.ini
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
*.qmlc
*.jsc
*_qmlcache.qrc
target_wrapper.*
compile_commands.json

# === Qt Creator 用户配置文件 (关键) ===
*.pro.user*
*.qbs.user*
CMakeLists.txt.user*
*.qmlproject.user*
*creator.user*

# === 编译输出目录 (重点) ===
/build*/
*build-*/
.moc/
.obj/
.pch/
.rcc/
.uic/
/.qtcreator/

# === 编辑器临时文件 ===
*.flc
.*.swp

# === Visual Studio 相关 ===
*.ib_pdb_index
*.idb
*.ilk
*.pdb
*.sln
*.suo
*.vcproj
*vcproj.*.*.user
*.ncb
*.sdf
*.opensdf
*.vcxproj
*vcxproj.*

# === 其他 ===
*.pyc